@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html {
   background-color: #e7e6e1;
}
body {
    margin: 0;
}
.ram {
    display: flex;
    justify-content: center;
    margin-top: 20px;       
}
.nadpis {
    background-color: #c0b4ac;
    font-size: 36px;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 12px;
    font-family: "Aref Ruqaa", serif;
    border: solid rgb(109, 105, 103) 1px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
}
hr {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 70%;
    border: solid 0.5px rgb(121, 111, 111);
}
.rocniky {
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.tlacidlo {
    display: flex;
    font-size: 32px;
    border-radius: 15px;
    background-color: #d8ccbc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
    transition: background-color 0.8s ease;
}
.tlacidlo:hover{
    transform: scale(1.1);
}
.tlacidlo:active{
    background-color: #b8a89a;
}
a {
    text-decoration: none;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    color: rgb(96, 90, 90);
}
.pata {
    background-color: #c0b4ac;
    width: 100%;
    height: 154px;
}
.prvy {
    position: absolute; 
    width: 8.5vw;
    height: 8.5vw;
    min-width: 85px;
    min-height: 85px;
    border-radius: 50%; 
    background-image: url(./obrazky/kruh-prvy.jpg);
    background-size: cover; 
    background-position: center; 
    top: 30%; 
    left: 10%; 
    margin: 10px; 
}
.druhy {
    position: absolute; 
    width: 7vw;
    height: 7vw;
    min-width: 75px;
    min-height: 75px;
    border-radius: 50%; 
    background-image: url(./obrazky/kruh-druhy.jpg);
    background-size: cover; 
    background-position: center; 
    top: 38%; 
    left: 16%; 
    margin: 10px; 
}
.treti {
    position: absolute; 
    width: 10.5vw;
    height: 10.5vw;
    min-width: 75px;
    min-height: 75px;
    border-radius: 50%; 
    background-image: url(./obrazky/kruh-treti.jpg);
    background-size: cover; 
    background-position: center; 
    right: 5%; 
    top: 20%; 
    margin: 10px; 
}
.stvrty {
    position: absolute; 
    width: 9.5vw;
    height: 9.5vw;
    min-width: 75px;
    min-height: 75px;
    border-radius: 50%; 
    background-image: url(./obrazky/kruh-stvrty.jpg);
    background-size: cover; 
    background-position: center; 
    right: 8%; 
    top: 40%; 
    margin: 10px; 
}
.piaty {
    position: absolute; 
    width: 8vw;
    height: 8vw;
    min-width: 75px;
    min-height: 75px;
    border-radius: 50%; 
    background-image: url(./obrazky/kruh-piaty.jpg);
    background-size: cover; 
    background-position: center; 
    right: 14.5%; 
    top: 55%; 
    margin: 10px; 
}