@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa:wght@400;700&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html {
   background-color: #e7e6e1;
}
body {
    margin: 0;
}
.ram {
    display: flex;
    justify-content: center;
    margin-top: 20px;       
}
.nadpis {
    background-color: #c0b4ac;
    font-size: 36px;
    padding: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-radius: 12px;
    font-family: "Aref Ruqaa", serif;
    border: solid rgb(109, 105, 103) 1px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
}
hr {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    width: 70%;
    border: solid 0.5px rgb(121, 111, 111);
}
.rocniky {
    margin-top: 90px;
    margin-bottom: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.tlacidlo {
    display: flex;
    font-size: 32px;
    border-radius: 15px;
    background-color: #d8ccbc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: none;
    transition: background-color 0.8s ease;
}
.tlacidlo:hover{
    transform: scale(1.1);
}
.tlacidlo:active{
    background-color: #b8a89a;
}
a {
    text-decoration: none;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    color: rgb(96, 90, 90);
}
.pata {
    background-color: #c0b4ac;
    width: 100%;
    height: 154px;
    position: absolute;
    bottom: 0;
    align-items: center;
    justify-content: center;
}
.prvy {
    position: absolute; 
    width: 130px;
    height: 130px;
    border-radius: 50%; 
    background-image: url(./obrazky/kruh-prvy.jpg);
    background-size: cover; 
    background-position: center; 
    top: 30%; 
    left: 10%; 
    margin: 10px; 
}
.druhy {
    position: absolute; 
    width: 105px;
    height: 105px;
    border-radius: 50%; 
    background-image: url(./obrazky/kruh-druhy.jpg);
    background-size: cover; 
    background-position: center; 
    top: 38%; 
    left: 16%; 
    margin: 10px; 
}
.treti {
    position: absolute; 
    width: 155px;
    height: 155px;
    border-radius: 50%; 
    background-image: url(./obrazky/kruh-treti.jpg);
    background-size: cover; 
    background-position: center; 
    right: 5%; 
    top: 22%; 
    margin: 10px; 
}
.stvrty {
    position: absolute; 
    width: 140px;
    height: 140px;
    border-radius: 50%; 
    background-image: url(./obrazky/kruh-stvrty.jpg);
    background-size: cover; 
    background-position: center; 
    right: 8%; 
    top: 40%; 
    margin: 10px; 
}
.piaty {
    position: absolute; 
    width: 130px;
    height: 130px;
    border-radius: 50%; 
    background-image: url(./obrazky/kruh-piaty.jpg);
    background-size: cover; 
    background-position: center; 
    right: 13.5%; 
    top: 55%; 
    margin: 10px; 
}
.pata h4 {
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
}
.pata p {
    font-size: 16px;
    text-align: center;
}
@media only screen and (max-width: 860px) {
    .prvy {
        width: 120px;
        height: 120px;
    }
    .druhy {
        width: 95px;
        height: 95px;
    }
    .treti {
        width: 145px;
        height: 145px;
    }
    .stvrty {
        width: 130px;
        height: 130px;
    }
    .piaty {
        width: 120px;
        height: 120px;
    }
    .tlacidlo {
        font-size: 22px;
    }
    .nadpis {
        font-size: 26px;
    }
    .pata {
        height: 145px;
    }
    .pata h4 {
        font-size: 16px;
    }
    .pata p {
        font-size: 14px;
    }
  }
  @media only screen and (max-width: 740px) {
    .prvy {
        width: 115px;
        height: 115px;
    }
    .druhy {
        width: 90px;
        height: 90px;
    }
    .treti {
        width: 140px;
        height: 140px;
    }
    .stvrty {
        width: 125px;
        height: 125px;
    }
    .piaty {
        width: 115px;
        height: 115px;
    }
    .tlacidlo {
        font-size: 20px;
    }
    .nadpis {
        font-size: 24px;
    }
    .pata {
        height: 140px;
    }
    .pata h4 {
        font-size: 14px;
    }
    .pata p {
        font-size: 12px;
    }
  }
  @media only screen and (max-width: 640px) {
    .prvy {
        width: 105px;
        height: 105px;
    }
    .druhy {
        width: 80px;
        height: 80px;
    }
    .treti {
        width: 130px;
        height: 130px;
    }
    .stvrty {
        width: 115px;
        height: 115px;
    }
    .piaty {
        width: 105px;
        height: 105px;
    }
    .tlacidlo {
        font-size: 10px;
    }
    .nadpis {
        font-size: 14px;
    }
    .pata {
        height: 130px;
    }
    .pata h4 {
        font-size: 12px;
    }
    .pata p {
        font-size: 10px;
    }
  }
  @media only screen and (max-width: 500px) {
    .prvy {
        width: 90px;
        height: 90px;
    }
    .druhy {
        width: 65px;
        height: 65px;
    }
    .treti {
        width: 115px;
        height: 115px;
    }
    .stvrty {
        width: 100px;
        height: 100px;
    }
    .piaty {
        width: 90px;
        height: 90px;
    }
    .tlacidlo {
        font-size: 10px;
    }
    .nadpis {
        font-size: 14px;
    }
    .pata {
        height: 130px;
    }
    .pata h4 {
        font-size: 12px;
    }
    .pata p {
        font-size: 10px;
    }
  }
  @media only screen and (max-width: 450px) {
    .prvy {
        width: 70px;
        height: 70px;
    }
    .druhy {
        width: 45px;
        height: 45px;
    }
    .treti {
        width: 95px;
        height: 95px;
    }
    .stvrty {
        width: 80px;
        height: 80px;
    }
    .piaty {
        width: 70px;
        height: 70px;
    }
    .tlacidlo {
        font-size: 8px;
    }
    .nadpis {
        font-size: 12px;
    }
    .pata {
        height: 120px;
    }
    .pata h4 {
        font-size: 10px;
    }
    .pata p {
        font-size: 8px;
    }
    .rocniky a {
        padding: 5px;
        padding-right: 30px;
        padding-left: 30px;
    }
  }
